*{
   padding: 0px;
   margin: 0px;
   font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

header{
   min-width:1000px;
}
.navbar{
   height: 60px;
   background-color: #0F1111;
   color: white;
   display: flex;
  align-items: center;
  justify-content: space-evenly;
   cursor: pointer;
}
.nav-logo{
   height: 50px;
   width: 113px;
}
.logo{
   background-image: url(pics/amazon_logo.png);
   background-size: cover;
   height: 50px;
   width: 111px;

}
.border{
   border: 1.2px solid transparent;
}
.border:hover{
   border: 1.2px solid white;
}

.nav-address{
   padding: 9px;
  
}
.nav-add-top{
font-size: 0.8rem;
color: #cccccc;
margin-left: 1rem;
}
.nav-add-bottom{
   font-size: 0.9rem;
   font-weight: 700;
   margin-left: 0.20rem;
}
.nav-location{
   display: flex;
   }

.nav-search{
  
 display: flex;
 justify-content: space-evenly;
 width: 1250px;
 height: 40px;
 border-radius: 5px;
}
.nav-search:hover{
   border: 2px solid orange;
   
}
.search-select{
   background-color: #ececec;
   width: 45px;
   height: 40px;
   padding-left: 5px;
   border: 1px;
   text-align: center;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   border: none;
  
}

.search-input{
      width:100%;
      border: none;
      font-size: 1rem;
 }
 .search-icon{
   width: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   background-color: rgb(246, 182, 103);
   color: #0F1111;
   border-top-right-radius:5px ;
   border-bottom-right-radius: 5px; 
 }
   

  .language{
   padding: 9px;
   display: flex;
   align-items: center;
  }
  .flag{
   font-size: 1.7rem;
  }
   .country-lan{
background-color: #0F1111;
color: white;
border: none;
height: 26px;
  }


  .signin-account{
   padding: 9px;
  min-width: 130px;
  }
  span{
 color: #cccccc;
 font-size: 0.8rem;
  }
  .acc-heading-bottom{
   font-weight:700;
   font-size: 0.93rem;
  }

.return-orders{
   padding: 9px;
  min-width: 84px;
}
  .ret-ords-heading-bottom{
   font-weight:700;
   font-size: 0.93rem;
  }

.cart-box{
   padding: 9px;
   display: flex;
}
.cart-icon{
   font-size: 1.7rem;
}
.cart{
   font-weight: 700;
   font-size: 0.8rem;
   display: flex;
   align-items:center;
}

/* PANEL */
.panel{
   height: 40px;
   background-color: rgb(45, 49, 73);
   display: flex;
   color: white;
   align-items:center;
   justify-content: space-evenly;
   font-size: 0.93rem;
  
}
.menu{
   font-weight: 700;
   display: flex;
   align-items: center;
   cursor: pointer;
}
.menu i{
   font-size: 20px;
}
.menu p{
   padding-left: 4px;
}
.panel-ops p{
   display: inline;
   padding: 9px;
   font-weight: 500;
}
.panel-ops{
   width: 94%;
   cursor: pointer;
}



/* HEADER SLIDING IMAGES ON BACKGROUND  */
#headerSlider{
   background-color: #e3e6e6 ;
   height: 300px;
   display: flex;
   justify-content: center;
   min-width: 1000px;
}

#headerSlider ul{
   width: 1522px;
   display: flex;
   overflow-y: hidden;
 
}

.iconleft{
  position: absolute;
  top: 25%;
  left: 10%;
  padding-left: 30px;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1;
}
.iconright{
   position: absolute;
   top: 25%;
   right: 10%;
   padding-right: 30px;
   font-size: 3rem;
   cursor: pointer;
   z-index: 1;
   
 
 }
.sliderImages{
   max-width: 100%;
   mask-image: linear-gradient(to bottom , #000000 50%, transparent 100%);
}


 
.shop-section{
   background-color: #e1e5e4;
  height: fit-content; 
   display: flex;
   flex-direction: column;
   align-items: center;
   min-width: 1000px;
}

.upper-boxes-1 , .upper-boxes-2 ,.upper-boxes-3,.upper-boxes-hidden{
   display: flex;  
   gap: 20px;
   z-index: 1;
}
.upper-boxes-hidden{
   display: none;
}

.box{
   width: 350px;
   height: 420px;
   background-color: white;
   overflow: hidden;
}
.box p{
   width: fit-content;
   margin-left: 21px;
   margin-top: 20px;
   color: #007185;
   cursor: pointer;
}
.box h2{
  padding-top: 20px; 
  margin-left: 21px;
}
.box-img{
   height: 304px;
   width: 87%;
   background-size: cover;
   margin-left: 21px;
   margin-top: 10px;  
   flex-grow: 1;

}
.box4imgs{
  margin: 0 0 1.8rem 0;
}
.box4img2pair{
      display: flex;
      margin-bottom: 3rem;
}
.box4img2pair img{
max-width: 175px;
}
.box4img2pair span{
   color: black;
   margin-left: 2rem;
}


       /*    RECTANGLE BOXES*/
.rectangleBox{
   width: 1464px;
   height: 260px;
   padding: 10px 20px;
  background-color:snow ;
}

.rectangleBoxSliding{
display: flex;
overflow-y: hidden;
gap: 2rem;
}
.rectangleBoxSliding::-webkit-scrollbar{
   display: none;
}


/* FOOTER */
footer{
   min-width: 1000px;
}
#footer-bottom-line{
height: 0.5px;
background-color: white;

}
.footer-top{
   background-color: white;
   height: 130px;
   
}
.footer-top hr{
  margin-top: 25px;
}
.footer-top-things{
   margin-top: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.footer-top-things p{
text-align: center;
font-size:13px;
}
.footer-top-things button{
   width: 230px;
   height: 28px;
   background-color: rgb(248, 183, 104);
   border: none;
   border-radius: 3px;
   font-weight: 700;
   margin-top: 5px;
}
.footer-text-link{
   display: flex;
 justify-content: center;
   margin-top:4px ;
   font-size: 12px;
}
.footer-text-link a{
   text-decoration: none;
}
.footer-top-2{
   height: 49px;
   background-color: #37475a ;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer-top-2 a{
   color: white;
   text-decoration: none;
   font-size: 13px;
}
.footer-middle{
   height: 400px;
   background-color: #232f3e ;
    display: flex;
   justify-content: center;
   gap: 100px;
}

.footer-middle h2{
   margin-top: 40px;
 font-size: medium;
 color: white;
}
.footer-middle p{
color: #dddddd;
margin-top: 13px;
font-size: 14px;
}

.footer-bottom{
   height: 100px;
   background-color:#232f3e ;
   display: flex;
   align-items: center;
   justify-content: center;
}
.last-logo{
   width: 90px;
   height: 55px;
   background-image: url(pics/amazon_logo.png);
   background-size: cover;

   }
   .last-logo-area{
      margin-right: 100px;
   }
   .footer-bottom-div1{
  width:116px ;
  height:34px ;
  background-color: #172937;
  color: #bdb7b7;
  font-size: 13px;
  border: 0.7px solid #bdb7b7;
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
   }
   .globe{
      width: 15px;
      height: 15px;
      margin-right: 12px;
   }
   .footer-bottom-div2{
      width: 150px;
      height:35px ;
      background-color: #172937;
      color: #bdb7b7;
      font-size: 13px;
      border: 0.7px solid #bdb7b7;
      border-radius: 3px;
      margin-right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

   }
   .footer-bottom-div3{
     width:141px ;
     height:34px ;
     background-color: #172937;
     color: #bdb7b7;
     font-size: 13px;
     border: 0.7px solid #bdb7b7;
     border-radius: 3px;
     display: flex;
     align-items: center;
     justify-content: center;
   }
   #last-logo{
      background-image: url(pics/amazon_logo.png);
      background-size: cover;
      height: 50px;
      width: 100%;
   }
   #footer-last-elements{
    height: fit-content;
    background-color: #131a22 ;
   }


   #footer-last-elements ul{
   display: flex;
   justify-content: center;
   gap: 3rem;
   padding: 2rem 0;

}
li div{
   width: 80px;
   font-size: 11px;
   color: #a7a6a6;
   margin-bottom: 2rem;
   padding: 0 9px;
}
li h4{
   color: #f5f0f0;
}
.footer-bottom-last{
   height: fit-content;
   background-color: #131a22 ;
}
.copyright{
 text-align: center;
 font-size: smaller;
 color:  #d7d2d2;
  padding-bottom: 1.7rem;
  line-height:20px ;
}

.copyright a{
 text-decoration: none;
 color:  #d7d2d2;
}
